.cell {
    width: 150px;
    height: 150px;
    border: 1px solid;
    min-width: 32%;
    height: 30vh;
}

.cell:hover {
    cursor:pointer;
    }

#gameArea {
    width: 100vw;
    height: 100%;
    background-color: rgb(229, 233, 231);
    
}

#gameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}