.cell {
    width: 150px;
    height: 150px;
    border: 1px solid;
    min-width: 32%;
    height: 30vh;
    text-align: center;
    text-justify: center;
}

.cell:hover {
    cursor:pointer;
    }

#gameArea {
    width: 100vw;
    height: 100%;
    
    
}

#gameContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#A1, #B1, #C1 {
    border-left: none;
}

#A3, #B3, #C3 {
    border-right: none;
}

#A1, #A2, #A3 {
    border-top: none;
}

#C1, #C2, #C3 {
    border-bottom: none;
}